@import url("https://use.typekit.net/slh7fgx.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: poppins, sans-serif, monospace;
  color: black;
  background-color: white;
}

.button {
  @apply px-10 pt-2 pb-1 font-normal text-black duration-100 bg-white rounded-full border border-gray-800 text-lg hover:border-indigo-600 hover:text-indigo-600
}

.button-bg {
  @apply px-10 pt-3 pb-2 font-normal text-white duration-100 text-lg bg-indigo-500 rounded-full hover:bg-indigo-600
}

.button-confirmation {
  @apply px-10 pt-2 pb-1 font-normal duration-100 text-lg rounded-full
}

.input-underline {
  @apply px-2 text-lg border-b-2 outline-none focus:border-indigo-600 duration-100
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}